@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-ink-100 text-ink-900 antialiased;
}

/* Thin scrollbar for phone frame */
.phone-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
